h1 {
  font-size: 48px;
}

@media (max-width: $desktop-full) {
  h1 {
    font-size: 40px;
  }
}

@media (max-width: $desktop) {
  h1 {
    font-size: 36px;
  }
}

@media (max-width: $tablet) {
  h1 {
    font-size: 32px;
  }
}

@media (max-width: $mobile) {
  h1 {
    font-size: 28px;
  }
}
